.cupcakeDrawing{
    width: 100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.cupcakeRow{
    display: flex;
}

.cupcake{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding: 7px;
}

.cakeCup{
    position: relative;
    width: 96px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-20px;
}

.cupBorder{
    display: flex;
    width:102px;
    height:76px;
    background-color: #413229;
    z-index: 900;
    position: absolute;
    clip-path: polygon(20% 100%, 80% 100%, 100% 0, 0 0);
}

.cakeCup >div:nth-child(1){
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 96px;
    height:70px;
    z-index: 1000;
    clip-path: polygon(20% 100%, 80% 100%, 100% 0, 0 0);
}

.cakeCup >div:nth-child(2){
    display: flex;
    width: 96px;
    height: 70px;
    z-index: 1000;
    position: absolute;
}

.cupStyle1{
    background-color: #efa223;
}

.cupStyle2{
    background-color: #554133;
}

.cupStyle3{
    background-color: #564133;
}

.cupStyle4{
    background-color: #b7805a;
}

.cupLine{
    display: flex;
    flex:1;
    justify-content: center;
}

.cupLineIn1{
    height: 100%;
    width: 3px;
    background-color: #413229;
    transform: rotate(-5deg);
}

.cupLineIn2{
    height: 100%;
    width: 3px;
    background-color: #413229;
}

.cupLineIn3{
    height: 100%;
    width: 3px;
    background-color: #413229;
    transform: rotate(5deg);
}

.cupStyle1 >div:nth-child(1){
    height: 40px;
    width: 96px;
    background-color: #fcf2d2;
    border-radius: 50% / 20%;
    margin-top:-10px;
}

.cupStyle1 >div:nth-child(2){
    height: 40px;
    width:96px;
    background-color: #e69d37;
}

.cupStyle2 >div:nth-child(1){
    height: 40px;
    width: 96px;
    background-color: #cd9882;
    border-radius: 50% / 20%;
    margin-top:-10px;
}

.cupStyle2 >div:nth-child(2){
    height: 40px;
    width:96px;
    background-color: #554133;
}

.cupStyle3 >div:nth-child(1){
    height: 40px;
    width: 96px;
    background-color: #c4ad97;
    border-radius: 50% / 20%;
    margin-top:-10px;
}

.cupStyle3 >div:nth-child(2){
    height: 40px;
    width:96px;
    background-color: #564133;
}

.cupStyle4 >div:nth-child(1){
    height: 40px;
    width: 96px;
    background-color: #fcf2d2;
    border-radius: 50% / 20%;
    margin-top:-10px;
}

.cupStyle4 >div:nth-child(2){
    height: 40px;
    width:96px;
    background-color: #b7805a;
}

.cakeCreamBottom1{
    display: flex;
    z-index: 1100;
    margin-top:-20px;
}

.cakeCreamBottom1 >div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.bottomCreamStyle1 >div{
    background-color: #995936;
}

.bottomCream1{
    width: 34px;
    height: 32px;
    transform: rotate(60deg);
}

.bottomCream2{
    width: 35px;
    height: 40px;
    margin:3px 0px 0px -px;
    transform: rotate(60deg);
}

.bottomCream3{
    width: 30px;
    height: 40px;
    margin:5px -5px 0px -6px;
    transform: rotate(-60deg);
}

.bottomCream4{
    width: 34px;
    height: 32px;
    transform: rotate(-60deg);
}

.cakeCreamBottom1Border{
    display: flex;
    z-index: 1050;
    margin-top: -43px;
    transform: scale(1.08);
}

.cakeCreamBottom1Border div{
    background-color: #413229;
    border-radius: 50px;
}

.bottomCreamStyle2 >div{
    background-color: #543422;
}

.cakePearl{
    width: 7px;
    height: 7px;
    border-radius: 50px;
}

.redPearl{
    background-color: #e5304f;
}

.yellowPearl{
    background-color: #f7d02f;
}

.whitePearl{
    background-color: #fff;
}

.cakeCreamBottom2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width:110px;
    border-radius: 50% / 70%;
    z-index: 1100;
    margin-top:-35px;
}

.bottomCreamStyle3{
    background-color: #1d1007;
    border:3px solid #1d1007;
}

.bottomCreamStyle3 >div{
    background-color: #ffb600;
    transform: rotate(20deg);
}

.bottomCreamStyle4{
    background-color: #4b2612;
    border:3px solid #413229;
}

.bottomCreamStyle4 >div{
    background-color: #f9e8cd;
    transform: rotate(20deg);
}

.powder1{
    width: 3px;
    height: 4px;
    margin:5px 0px 0px 0px;
}

.powder2{
    width: 2px;
    height: 3px;
    margin:18px 2px 0px 5px;
}

.powder3{
    width: 3px;
    height: 2px;
    margin:30px 2px 0px 2px;
}

.powder4{
    width: 2px;
    height: 3px;
    transform: rotate(-20deg);
    margin:20px 5px 0px 5px;
}

.powder5{
    width: 2px;
    height: 4px;
    margin:30px 2px 0px 2px;
}

.powder6{
    width: 2px;
    height: 2px;
    margin:25px 7px 0px 8px;
}

.powder7{
    width: 4px;
    height: 2px;
    margin:32px 0px 0px 2px;
}

.powder8{
    width: 2px;
    height: 3px;
    margin:20px 7px 0px 8px;
}

.powder9{
    width: 3px;
    height: 2px;
    margin:20px 5px 0px 0px;
}

.powder10{
    width: 2px;
    height: 3px;
    margin:10px 5px 0px 5px;
}

.powder11{
    width: 3px;
    height: 2px;
}

.topCreamStyle1{
    background-color: #fafafa;
    box-sizing: inset -3px -5px 1px 4px #f2e6da;
    border:3px solid #42332a;
}

.topCreamStyle2{
    background-color: #f781a3;
    box-sizing: inset -3px -5px 1px 4px #e55a81;
    border:3px solid #42332a;
}

.topCreamStyle3{
    background-color: #995936;
    box-sizing: inset -3px -5px 1px 4px #7c442e;
    border:3px solid #231007;
}

.topCreamStyle4{
    background-color: #a4d8ca;
    box-sizing: inset -3px -5px 1px 4px #6daf9e;
    border:3px solid #42332a;
}

.cakeCreamTop3{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    height: 50px;
    z-index: 1200;
    border-radius: 150px 80px 150px 80px;
    margin-top: -35px;
}

.cakeCreamTop2{
    display: flex;
    align-items: center;
    justify-content: center;
    width:85px;
    height: 40px;
    z-index: 1300;
    border-radius: 150px 50px 150px 50px;
    margin-top: -20px;
}

.cakeCreamTop1{
    display: flex;
    align-items: center;
    justify-content: center;
    width:65px;
    height: 30px;
    z-index: 1400;
    border-radius: 150px 50px 150px 50px;
    transform: rotate(-10deg);
    margin-top: -17px;
}

.cakeCreamTop0{
    display: flex;
    align-items: center;
    justify-content: center;
    width:35px;
    height: 30px;
    z-index: 1500;
    border-radius: 150px 50px 150px 150px;
    transform: rotate(-10deg);
}

.topping{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}

.chocoChip{
    width:2px;
    height: 4px;
    background-color: #543422;
    border-radius: 2px;
    border:2px solid #413229;
}

.pinkChip{
    width:2px;
    height: 4px;
    background-color: #f4a6b4;
    border-radius: 2px;
    border:2px solid #413229;
}

.redChip{
    width:2px;
    height: 4px;
    background-color: #931c28;
    border-radius: 2px;
    border:2px solid #413229;
}

.tpRedPearl{
    width: 7px;
    height: 7px;
    background-color: #c12534;
    border-radius: 10px;
    border:2px solid #413229;
}

.tpRedPearl >div{
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 10px;
    margin:1px;
}

.tpStar{
    font-size: 13px;
    color:#ffdb43;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.topping1{
    transform: rotate(60deg);
    padding-left:3px;
}

.topping2{
    padding:0px 5px 5px 0px;
}

.topping3{
    padding-left:6px;
}

.topping4{
    padding:10px 5px 0px 0px;
}

.topping5{
    transform: rotate(60deg);
    padding:12px 0px 0px 2px;
}

.topping6{
    transform: rotate(30deg);
    padding:7px 1px 0px 0px;
}

.topping7{
    transform: rotate(90deg);
    padding-left:15px;
}

.topping8{
    transform: rotate(50deg);
    padding:20px 0px 0px 8px;
}

.topping9{
    padding:8px 5px 0px 0px;
}

.topping10{
    padding:14px 7px 0px 0px;
}

.topping11{
    transform: rotate(30deg);
    padding:3px 5px 0px 0px;
}

.topping12{
    transform: rotate(20deg);
    padding:25px 0px 0px 15px;
}

.topping13{
    padding:37px 7px 0px 0px;
}

.topping14{
    transform: rotate(30deg);
    padding:22px 0px 0px 7px;
}

.topping15{
    transform: rotate(-30deg);
    padding:20px 10px 0px 0px;
    margin-left:-5px;
}

.topping16{
    transform: rotate(30deg);
    padding:10px 5px 0px 0px;
}

.cherry{
    width: 28px;
    height: 28px;
    background-color: #c12534;
    z-index: 1500;
    border-radius: 50px;
    margin-top: -7px;
    border:3px solid #42332a;
}

.cherryStalk{
    width: 3px;
    height: 12px;
    background-color: #42332a;
    z-index: 1600;
    border-radius: 5px;
    transform: rotate(20deg);
    margin-left: 10px;
}

.cherryHighlight{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    transform: rotate(25deg);
}

.cherryHighlight div:nth-child(1){
    width: 4px;
    height: 8px;
    background-color: #fff;
    border-radius: 50px;
}

.cherryHighlight div:nth-child(2){
    width: 4px;
    height: 4px;
    background-color: #fff;
    margin-top:3px;
    border-radius: 50px;
}

.chocolate{
    width: 20px;
    height: 23px;
    background-color: #4c2714;
    z-index: 1500;
    border-radius: 7px;
    border:3px solid #231007;
    transform: rotate(45deg);
}

.chocolate >div{
    width: 18px;
    height: 21px;
    border:2px solid #231007;
    margin:1px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chocolate >div >div{
    width: 9px;
    height: 12px;
    background-color: #231007;
    border-radius: 3px;
}

.pepero{
    display: flex;
    flex-direction: column;
    z-index: 1150;
    width: 10px;
    height: 80px;
    position: absolute;
    background-color: #6d4c44;
    border-radius: 2px;
    border:3px solid #413229;
    transform: rotate(10deg);
    top:0px;
    right:12px;
    overflow: hidden;
}

.peperoColor1{
    width: 20px;
    height: 9px;
    background-color: #6d4c44;
    margin-left:-5px;
}

.peperoColor2{
    width: 20px;
    height: 9px;
    background-color: #fcf2d2;
    margin-left:-5px;
}