.rotate40{
    transform: rotate(40deg);
}

.rotate45{
    transform: rotate(45deg);
}

.rotate60{
    transform: rotate(60deg);
}

.rotateMinus40{
    transform: rotate(-40deg);
}

.rotateMinus60{
    transform: rotate(-60deg);
}

.hamburgerDrawing{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 190px;
    width:auto;
}

.bunBottom{
    width: 127px;
    height: 25px;
    background-color: #eaa553;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top:-3px;
    border: 3px solid #323232;
    box-sizing: border-box;
    z-index: 600;
}

.onion{
    display: flex;
    margin-top:-3px;
}

.onion div{
    width: 42px;
    height: 18px;
    background-color: #f4f4e6;
    border: 3px solid #323232;
    box-sizing: border-box;
    margin: -1.5px;
}

.patty{
    width: 125px;
    height: 20px;
    background-color: #7c5631;
    border-radius: 8px;
    margin-top: -10px;
    border: 3px solid #323232;
    box-sizing: border-box;
    z-index: 700;
}

.cheezeLine{
    width: 117px;
    height: 7px;
    background-color: #ffe67d;
    border-radius: 15px;
    z-index: 900;
}

.cheezeLineBorder{
    width: 123px;
    height: 13px;
    margin-top:-10px;
    background-color: #323232;
    border-radius: 15px;
    z-index: 800;
}

.cheeze{
    display: flex;
    align-items: flex-end;
    margin-top:-30px;
    z-index: 800;
}

.cheeze div{
    width:35px;
    height:35px;
    background-color:#ffe67d;
    border-radius:10px;
    border:3px solid #323232;
    box-sizing:border-box;
}

.tomato{
    display: flex;
    margin-top:-5px;
}

.tomato div{
    width: 61px;
    height: 16px;
    margin: -1.5px;
    background-color: #d92620;
    z-index: 1000;
    border:3px solid #323232;
    box-sizing: border-box;
}

.lettuce{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:-10px;
}

.lettuceLine{
    width: 116px;
    height: 14px;
    background-color: #11b743;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1250;
}

.lettuceLeaf{
    display: flex;
    align-items: flex-end;
    z-index: 1200;    
    margin-top:-13px;
}

.lettuceLeaf div{
    width: 20px;
    height: 23px;
    margin:-1.5px;
    background-color: #11b743;
    border:3px solid #323232;
    border-radius: 50px;
    box-sizing: border-box;
}

.bunTop{
    width: 127px;
    height: 63px;
    background-color: #eaa553;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 800px;
    border-top-left-radius: 800px;
    margin-top:-5px;
    border:3px solid #323232;
    box-sizing: border-box;
    z-index: 1300;
    display: flex;
    flex-direction: column;
}

.bunTop div{
    display: flex;
    justify-content: center;
}

.sesame{
    width: 1px;
    height: 3px;
    background-color: #f3e7ce;
    border-radius: 50px;
    border:3px solid #323232;
    margin:7px;
}

.cola{
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 110px;
    max-width: 110px;
    min-width: 110px;
    height: 190px;
}

.colaCup{
    width: 64px;
    height: 0px;
    position: absolute;
    border-top: 144px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-radius: 7px;
    z-index: 800;
    right:3px;
    bottom:3px
}


.colaCupBorder{
    position: absolute;
    z-index: 700;
    width: 70px;
    height: 0px;
    right: 0px;
    bottom:0px;
    border-radius: 10px;
    border-top:150px solid #323232;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
}

.straw{
    position: absolute;
    z-index: 1100;
    width: 7px;
    height: 180px;
    background-color: #d92620;
    transform: rotate(6deg);
    border-radius: 2px;
    right:31px;
    bottom:14px;
    border:3px solid #000;
}

.colaContents{
    width: 110px;
    height: 150px;
    position: absolute;
    bottom:0px;
    left:0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom:5px;
}

.colaContents div{
    width:60px;
    height:0px;
    border-radius:5px;
    border-top:120px solid #3f101acc;
    border-left:16px solid transparent;
    border-right:16px solid transparent;    
}

.colaOutside{
    z-index: 1200;
}

.colaInside{
    z-index: 900;
}

.bubble{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1300;
    left:0px;
    bottom:20px;
    justify-content: flex-end;
    align-items: center;
}

.bubble div{
    display: flex;
}

.bubble span{
    background-color:#fff;
}

.bubble1{
    width: 4px;
    height: 4px;
    margin: 8px;
    animation: bubble 0.7s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.bubble2{
    width: 3px;
    height: 3px;
    margin: 16px;
    animation: bubble 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.bubble3{
    width: 4px;
    height: 4px;
    margin: 7px;
    animation: bubble 0.7s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.bubble4{
    width: 3px;
    height: 3px;
    margin: 7px;
    animation: bubble 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.bubble5{
    width: 5px;
    height: 5px;
    margin: 12px;
    animation: bubble 0.7s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.bubble6{
    width: 4px;
    height: 4px;
    margin: 8px;
    animation: bubble 0.7s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.bubble7{
    width: 4px;
    height: 4px;
    margin: 5px;
    animation: bubble 0.7s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.bubble8{
    width: 3px;
    height: 3px;
    margin: 12px;
    animation: bubble 0.7s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.bubble9{
    width: 4px;
    height: 4px;
    margin: 5px;
    animation: bubble 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes bubble{
    0%{
        transform: scale(0.5);
    }20%{
        transform: scale(0.7);
    }40%{
        transform: scale(1);
    }60%{
        transform: scale(0.7);
    }80%{
        transform: scale(0.5);
    }100%{
        transform: scale(0.3);
    }
}